<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<nav class="navbar-dark bg-dark" style="margin-bottom: 150;"></nav>
<div class="container">
    <div class="card">
    <div class="card-header">
    <h4>Enviar Memorandos</h4>
    </div>
    <div class="card-body">
    Mensaje <input type="text" class="form-control" maxlength="144" [(ngModel)]="enterName"/>
              <input type="button" value="Enviar" (click)="TransFerData()"class="btn-btn primary"/>
              <app-recibiendo-memorandos [parentData]="parentData"></app-recibiendo-memorandos>
            </div>
        <label>
            Destinatario: <br>
            <select name="Pais" class="prov">
                <option value="(Ceo) Estefano Lujan">(Ceo) Estefano Lujan</option>
                <option value="(Gerente de marketing) Juan Perez">(Gerente de marketing) Juan Perez</option>
                <option value="(Supervisor de ventas) Leandro Gomez">(Supervisor de ventas) Leandro Gomez</option>
                
            </select>
        </label>
        <router-outlet name="Enviar mensaje"> Enviar Mensaje </router-outlet>